$white-color: #ffffff;
$black-color: #000000;
$grey-color: #353535;
$grey-dark: #242424;
$brown-color: #795c48;
$brown-dark: #6a4d38;
$light-color: #f8f5f2;
$light-grey: #383838;
$beige-color: #e5ddd5;

$tablet: 768px;
$desktop: 1200px;

