.news {
  width: 100%;
}

.news__wrapper {
  min-height: 505px;
  background-color: $light-color;
  border: 1px solid $light-color;
  border-bottom-color: $beige-color;
  @include container-mobile;
}

.news__title {
  margin-top: 65px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.news__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  position: relative;
  min-height: 140px;
  margin-bottom: 4px;
  padding-left: 18px;
  cursor: pointer;
  &:first-child::after {
    content: "";
    position: absolute;
    bottom: 24px;
    display: block;
    width: 280px;
    height: 1px;
    background-color: $beige-color;
  }
  &:last-child {
    display: none;
  }
  &:hover .news__date {
    background-color: #826550;
  }
  &:hover .news__date::after {
    border-color: #826550 transparent transparent transparent;
  }
  &:hover p {
    color: #826550;
    text-decoration: underline;
  }
  &:active .news__date {
    color: #a09187;
    background-color: $brown-dark;
  }
  &:active .news__date::after {
    border-color: $brown-dark transparent transparent transparent;
  }
  &:active p {
    color: $brown-dark;
  }
}

.news__date {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 16px;
  vertical-align: top;
  text-align: center;
  color: $white-color;
  background-color: $black-color;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top: 4px;
    border-width: 10px 25px 0 25px;
    border-style: solid;
    border-color: $black-color transparent transparent transparent;
  }
}

.news__date b {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.news__item p {
  display: inline-block;
  width: 215px;
  margin-top: -15px;
  margin-left: 20px;
  vertical-align: top;
  text-align: left;
}

.news__to-all {
  margin: 5px auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: $black-color;
  border: 1px solid $beige-color;
  &:hover {
    border-color: #d5c9bd;
  }
  &:active {
    color: #a99f95;
    background-color: #d5c9bd;
  }
}

@media (min-width: $tablet) {
  .news {
    background-color: $light-color;
  }
  .news__wrapper {
    position: relative;
    min-height: 324px;
    @include container-tablet;
  }
  .news__title {
    margin-top: 87px;
    margin-bottom: 63px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .news__items {
    display: flex;
  }
  .news__item {
    width: 320px;
    min-height: 120px;
    padding-left: 0;
    &:first-child::after {
      display: none;
    }
  }
  .news__item span {
    display: none;
  }
  .news__to-all {
    position: absolute;
    top: 77px;
    right: 0;
  }
}

@media (min-width: $desktop) {
  .news__wrapper {
    min-height: 367px;
    @include container-desktop;
  }
  .news__title {
    margin-top: 125px;
    margin-bottom: 65px;
    margin-left: 65px;
  }
  .news__to-all {
    top: 115px;
  }
  .news__item:last-child {
    display: block;
  }
}

