.photo {
  width: 100%;
  background-color: $light-color;
}

.photo__wrapper {
  position: relative;
  padding-bottom: 12px;
  border: 1px solid $light-color;
  @include container-mobile;
  &::after {
    content: "";
    position: absolute;
    bottom: -35px;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    border-width: 34px 160px 0 160px;
    border-style: solid;
    border-color: $light-color transparent transparent transparent;
  }
}

.photo__title {
  margin-top: 28px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.photo__to-main {
  display: none;
}

@media (min-width: $tablet) {
  .photo__wrapper {
    @include container-tablet;
    &::after {
      bottom: -43px;
      left: -63px;
      border-width: 43px 384px 0 384px;
      border-color: $light-color transparent transparent transparent;
    }
  }
  .photo__title {
    margin-top: 55px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  .photo__to-main {
    position: absolute;
    top: 52px;
    right: 0;
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: $black-color;
    border: 1px solid $beige-color;
    &:hover {
      border-color: #d5c9bd;
    }
    &:active {
      color: #a99f95;
      background-color: #d5c9bd;
    }
  }
}

@media (min-width: $desktop) {
  .photo__wrapper {
    padding-bottom: 47px;
    @include container-desktop;
    &::after {
      display: none;
    }
  }
}

