.stats {
  position: relative;
  @include container-mobile;
}

.stats__header {
  text-align: center;
  background-color: $white-color;
  border-top: 1px solid $white-color;
  border-bottom: 1px solid $white-color;
}

.stats__title {
  margin-bottom: -5px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.stats__intro {
  margin-bottom: 25px;
  padding-right: 37px;
  padding-left: 37px;
  font-size: 20px;
  line-height: 27px;
}

.stats__items {
  width: 100%;
  height: 320px;
  border-collapse: collapse;
  color: $white-color;
}

.stats__items tr {
  background-color: #404040;
}

.stats__items tr:nth-child(2) {
  background-color: #4e4e4e;
}

.stats__items tr:nth-child(3) {
  background-color: #353535;
}

.stats__value {
  padding-left: 19px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.stats__field {
  padding-right: 19px;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.stats__legend {
  position: absolute;
  font-size: 20px;
  line-height: 27px;
  color: #7f7f7f;
  &--top {
    display: none;
  }
  &--bottom {
    top: 513px;
    left: 54px;
  }
}

@media (min-width: $tablet) {
  .stats {
    width: 640px;
    margin-top: -185px;
  }
  .stats__header {
    position: relative;
    display: flex;
    min-height: 185px;
    &::before {
      content: "";
      position: absolute;
      top: 27px;
      left: -15px;
      border: 15px solid transparent;
      border-bottom-color: $white-color;
      transform: rotate(45deg);
    }
  }
  .stats__title {
    width: 320px;
    padding-top: 0;
    padding-left: 40px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    text-transform: none;
  }
  .stats__legend {
    &--top {
      bottom: 28px;
      left: 38px;
      display: block;
    }
    &--bottom {
      display: none;
    }
  }
  .stats__intro {
    width: 320px;
    padding-top: 15px;
    padding-right: 50px;
    padding-left: 32px;
    text-align: left;
  }
  .stats__items {
    height: 320px;
  }
  .stats__items tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__items tr {
    display: block;
    width: 320px;
    height: 160px;
  }
  .stats__value,
  .stats__field {
    display: block;
    padding-left: 35px;
    text-align: left;
  }
  .stats__value {
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 72px;
    line-height: 72px;
  }
  .stats__field {
    font-size: 20px;
    line-height: 27px;
  }
  .stats__field br {
    display: none;
  }
}

@media (min-width: $desktop) {
  .stats {
    display: flex;
    width: 960px;
    margin-top: -160px;
  }
  .stats__header {
    flex-direction: column;
    width: 320px;
    min-height: 318px;
    &::before {
      top: 22px;
    }
  }
  .stats__title {
    margin-top: 27px;
  }
  .stats__intro {
    margin-top: 35px;
    padding-left: 40px;
  }
  .stats__items {
    width: 640px;
    min-height: 318px;
  }
}

